body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  font-family: Arial, sans-serif;
}
#sheets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.plant-sheet {
  width: 210mm;
  height: 148mm;
  background: #fff;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
  /*box-sizing: ;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  page-break-after: always;
}
.speciesID {
  height: 28mm;
  display:flex;
}
.holeSquare {
  border-bottom: 2px solid black; 
  border-right: 2px solid black;
  width: 30mm; 
  height: 100%; 
  display: inline-block;
}
.logos{
  width: 33%; 
  height: 100%;
  display: inline-block;
}
.speciesNames {
  border-bottom: 2px solid black;
  border-left: 2px solid black; 
  padding-left: 5px; 
  width: 60%; 
  height: 100%; 
  display: inline-block;
}
.commonName {
  font-size:60px;
}
.scientificName {
  text-align: right; 
  font-size:30px;
}
.plant-photos {
  flex: 1;
}
.photos-table {
  border-collapse: collapse; 
  width: 100%; 
  height: 108mm; 
}
.main-photo-cell { 
  border: 1px solid #000; 
  background:#e8f5e9; 
  height:100%; 
  width:auto; 
}
.thumb-photo-cell { 
  border: 1px solid #000; 
  background:#f1f8e9;
  width: 48mm; 
  height:48mm;  
}
.main-photo { 
  object-fit: cover; 
  display:block; 
  width:100%; 
  height:100%; 
}
.thumb-photo { 
  object-fit: cover; 
  display:block; 
  width:100%; 
  height:100%; 
}




/*.plant-photos {
  margin-top: 0;
  font-size: 2em;
  color: #226b2f;
}*/
/*.plant-sheet img {
  max-height: 110mm;
  max-width: 60mm;
  margin-right: 24px;
  border-radius: 8px;
}*/
/*.plant-firstLine h2 {
  margin-top: 0;
  font-size: 2em;
  color: #226b2f;
}*/
/*.plant-details p {
  margin: 0.5em 0;
}*/
@media print {
  body {
    background: none;
  }
  #sheets {
    display: block;
  }
  .plant-sheet {
    margin: 0;
    box-shadow: none;
    page-break-after: always;
  }
}